<!DOCTYPE html>
<html>
<head>
  <title>Lennon Wall Hong Kong</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Lennon Wall Hong Kong 連儂牆香港"/>
  <meta property="og:site_name" content="Lennon Wall Hong Kong 連儂牆香港"/>
  <meta property="og:type" content="Lennon Wall Hong Kong 連儂牆香港"/>
  <meta property="og:url" content="http://www.lennonwall.com"/>
  <meta property="og:description" content="The Lennon Wall Hong Kong exists for thoughts, prays, wishes and futures of HK.
We are working hard to bring this online so bookmark, share, and check back with us soon!
讓關愛, 祈望和祝願填滿香港連儂牆. 開發即將完成, 敬請密切留意!" />
  <meta property="og:image" content="http://www.lennonwall.com/hk/lennon/img/others/fb.jpg" />
  <meta property="fb:admins" content="654455109"/>
</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>

</body>
</html>
